<%= form_for @article do |f| %>
<div class="card mb-3">
  <div class="card-block px-3 py-2">
    <div class="form-group row">
      <%= f.label :author, 'Author', class: 'col-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_field :author, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :title, 'Title', class: 'col-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :subheading, 'Subheading', class: 'col-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_field :subheading, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :article_text, 'Article text', class: 'col-3 col-form-label' %>
      <div class="col-9">
        <%= f.text_area :article_text, class: "form-control tinymce" %>
      </div>
    </div>
      <%= f.submit button_label, class: 'btn btn-light btn-lg mt-1' %>
    </div>
  </div>
<% end %>
<%= tinymce %>
