<div class="card mb-3">
  <div class="card-block px-3 py-2">
    <p class="card-title py-2 heading-1"><%= @article.title %></p>
    <p class="card-subtitle pt-1 pb-2"><%= @article.subheading %></p>
    <p class="card-subtitle pt-1 pb-2"><%= @article.author %></p>
    <p class="card-text pt-1 pb-2"><%= @article.article_text %></p>
  </div>
  <% if current_user && current_user.admin? %>
    <div class="card-footer px-3 py-1">
      <%= link_to 'Edit article', edit_article_path(@article), class: 'card-link' %>

      <%= link_to 'Delete article', article_path(@article), method: :delete, confirm: 'Are you sure you want to delete this article?', class: 'card-link' %>
    </div>
  </div>
<% end %>
