<div class="card mb-2">
  <div class="card-block px-4 py-2">
    <h1 class="card-title"><%= @forum_category.title %></h1>
  </div>
  <% if current_user && current_user.admin? %>
    <div class="card-footer horizontal-space px-3 py-1">
      <%= link_to 'Edit category', edit_forum_category_path(@forum_category), class: 'card-link' %>

      <%= link_to 'Delete category', forum_category_path(@forum_category), method: :delete, data: { confirm: 'Are you sure you want to delete this category?' }, class: 'card-link' %>
    </div>
  <% end %>
</div>
<div class="card mb-2">
  <h2 class="card-block px-4 py-2">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    <%= link_to 'Start a new thread...', new_forum_thread_path, class: 'card-link' %>
  </h2>
</div>
<% @forum_category.forum_threads.each do |thread| %>
  <div class="card mb-2">
    <h3 class="card-block px-4 pb-2 pt-3">
      <%= link_to thread.title, forum_thread_path(thread) %>
    </h3>
  </div>
<% end %>
