<nav class="navbar navbar-expand-lg navbar-light navigation">
  <%= image_tag('The_Cheer_Post_Logo.png', width: '80', height: '70') %>
  <%= link_to 'The Cheer Post', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMenu" aria-controls="navbarNavMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end pr-2" id="navbarNavMenu">
    <div class="navbar-nav">
      <% if current_user && current_user.admin? %>
        <%= link_to 'All users', users_path, class: 'nav-item nav-link' %>
        <%= link_to 'Add category', new_forum_category_path, class: 'nav-item nav-link' %>
      <% end %>
      <%= link_to 'Forum', forum_categories_path, class: 'nav-item nav-link' %>
      <%= link_to 'Articles', articles_path, class: 'nav-item nav-link' %>
      <% if current_user %>
        <div class="nav-item dropdown">
          <%= link_to current_user.username, '#', class: 'nav-link dropdown-toggle', data: { toggle: 'dropdown' }, aria: { expanded: 'false', haspopup: 'true' } %>
          <div class="dropdown-menu">
            <%= link_to 'Profile', current_user, class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Log out', logout_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Log in', login_path, class: 'nav-item nav-link' %>
        <%= link_to 'Sign up', new_user_path, class: 'nav-item nav-link' %>
      <% end %>
    </div>
  </div>
</nav>
